{% extends "teams/_base.html" %}
{% block content %}
{% load static %}
<div class="d-flex flex-row justify-content-center align-items-center gap-4">
    <img class="image-responsive image-fluid" src={% static "badges/"|add:image_name %}>
    <h1 class="font-weight-bold fw-bolder">{{ team_name|upper }}</h1>
</div>
<div class="mx-4">
    <h3>Dueño: {{ owner }}</h2>
    <h4>Jugadores:  </h2>
        <div class="d-flex flex-row justify-content-center">
            <ul class="list-group flex-fill m-2">
                <li class="list-group-item fw-bold active">Porteros:</li>
                {% for player in goalkeepers %}  
                    <li class="list-group-item">{{ player.name }}</li>
                {% endfor %}
            </ul>
            <ul class="list-group flex-fill m-2">
                <li class="list-group-item fw-bold active">Defensas:</li>
                {% for player in defenders %}  
                    <li class="list-group-item">{{ player.name }}</li>
                {% endfor %}
            </ul>
            <ul class="list-group flex-fill m-2 ">
                <li class="list-group-item fw-bold active">Mediocentros:</li>
                {% for player in midfielders %}  
                    <li class="list-group-item">{{ player.name }}</li>
                {% endfor %}
            </ul>
            <ul class="list-group flex-fill m-2 ">
                <li class="list-group-item fw-bold active">Atacantes:</li>
                {% for player in atackers %}  
                    <li class="list-group-item">{{ player.name }}</li>
                {% endfor %}
            </ul>
        </div>
        
</div>
{% endblock  %}